<div class="row center-xs needs-validation radio">
  <div class="box radio">

    <h2>Registrese con nosotros</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form">
        <%= f.label :email , "Ingrese un correo electronico"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "Correo Electronico" , class: "form-control"%>
      </div>

      <div class="field form">
        <%= f.label :password , "Ingrese una nueva contraseña"%>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres como minimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "Nueva contraseña" , class: "form-control"%>
      </div>

      <div class="field form">
        <%= f.label :password_confirmation , "Repita la contraseña nueva"%><br />
        <%= f.password_field :password_confirmation, autocomplete: "Repita la Nueva contraseña" , class: "form-control"%>
      </div>

      <div class="actions white btn btn-default">
        <%= f.submit "Registrarme" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
