    <header>

      <nav class = "be-red large-padding center-xs" role="navigation" >

            <ul class= "row navbar box-sizing a col-md">
              <li class="col-md">
              <button type="button" class="btn btn-default navbar-btn"><%= link_to "Productos", productos_path %></button>
              </li> 

              <li class="col-md">
              <button type="button" class="btn btn-default navbar-btn"><%= link_to "Por Categorias", categoris_path %></button>
              </li> 


         <% unless usuario_signed_in? %>
              <li class="col-md">
              <button type="button" class="btn btn-default navbar-btn"><%= link_to "Iniciar Sesion", usuario_session_path %></button>
              </li>   
              <li class="col-md">
             <button type="button" class="btn btn-default navbar-btn"><%= link_to "Registrarme", new_usuario_registration_path %></button>
              </li>  
         <%end %>                

              <li class="col-md ">
           <button type="button" class="btn btn-default navbar-btn"> <%= link_to "Actualizar Precio de Divisas", new_divisa_valor_path %></button>
              </li>                    

                <% if usuario_signed_in? %>
              <li class="col-md ">
           <button type="button" class="btn btn-default navbar-btn"> <%= link_to "Cerrar Sesion", destroy_usuario_session_path, method: :delete %></button>
              </li>
              
                <%end %>

            </ul>
          
      <% unless DivisaValor.last == nil %>
      <p class="navbar-text arial">Ultima Actualizacion del dolar :</p><br>
      <P class="navbar-text greend arial"><%= number_with_delimiter(@divisa=DivisaValor.last.valor)%> Bs </P>
      <p class="arial"> <%= @divisa=DivisaValor.last.fecha %></p><br> 
      <%end %>
      </nav>

    </header>









      
