<div class="center-xs fondo">

      <%= form_with(model: categori, local: true) do |form| %>
        <% if categori.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(categori.errors.count, "error") %> Categoria no permitida</h2>

            <ul>
              <% categori.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


        <div class="field white">
          <%= form.label :categoria , "NOMBRE DE LA CATEGORIA:"%>
          <%= form.text_field :categoria , class: "form-control" %>
        </div>

        <div class="actions white btn">
          <%= form.submit "Crear Categoria"%>
        </div>
      <% end %>

</div>