<p id="notice"><%= notice %></p>
<div class=" center-xs sin-fondo">  
	<div class="row center-xs sin-fondo">
		      <% @categoris.each do |categori| %>
		<div class="card text-white bg-dark mb-3 no-margin radio" style="max-width: 18rem;">
		  <div class="card-header"> <h1><%= link_to categori.categoria.capitalize , categori %></h1></div>
		    <div class="card-body">

		    	<% id = categori.id %>

		      <h3 class="card-title"><td>Productos en esta categoria:</td></h3>
		      <h5 class="card-text"><strong><%=  Producto.where(categori_id:id).length %> </strong></h5>
		      <br>

		      <button class=""><%= link_to  "Editar Categoria", edit_categori_path(categori) %></button>
			  <button class=""><%= link_to  "Borrar categoria", categori, method: :delete, data: { confirm: 'Are you sure?' } %></button>
		    </div>
		</div>
		      <% end %>		
	</div>
</div>

<div class=" center-xs">
  <button class="a btn white"><%= link_to 'Crear Nueva Categoria', new_categori_path %></button>
  
</div>