
<div class= " needs-validation">
		<div class="row center-xs">
			<h1>INGRESE NUEVA CATEGORIA</h1>
		</div>

		<div class="row center-xs">
			<%= render 'form', categori: @categori %>
		</div>



		<div class="row center-xs">
			<h1 class="btn white"><%= link_to 'Regresar', categoris_path %></h1>
		</div>
</div>

