<div class="row fondo centrando center-xs">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Categoria:</strong>
	  <%= @categori.categoria %>
	</p>

	<%= link_to image_tag("lapiz.png", size: "30x30", :alt => "dolar feed"), edit_categori_path(@categori) %> |
	<h1></h1> <%= link_to 'Volver a las Categorias', categoris_path %></h1>
</div>

 <table class=" fondo centrando center-xs">
    <thead>
        
      <tr>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Unid por <br> display</th>
        <th> Precio <br> por unidad </th>  
        <th><%= image_tag("signodolar2.png", size: "35x35", :alt => "dolar feed") %><br>Caja</th>     
        <th><%= image_tag("signodolar2.png", size: "35x35", :alt => "dolar feed") %><br>Unidad</th>     
        <th colspan="3"></th>
      </tr>  


    </thead>


    <tbody>

      <% @productos.each do |producto| %>
        <tr class= "text-center">
          <td class="grande"><%= link_to producto.nombre, producto %></td>

            <% id = producto.categori %>
          <td><%= Categori.find_by(id:id).categoria %></td>

          <td><%= producto.cantidad_x_display %></td>
          <td class="red"><% if producto.PrecioUnidadBs == nil %>
              <h2><%= number_with_delimiter(((producto.precio.to_f * DivisaValor.last.valor)/producto.cantidad_x_display).round(-3))%>Bs </h2>
              <% else %>
              <h2><%= number_with_delimiter(((producto.precio.to_f * DivisaValor.last.valor)/producto.cantidad_x_display).round(-3))%>Bs </h2>
              <% end %>
          <td><h2 class="green"> $<%= (producto.precio).round(2) %> </h2></td>

          <td><h2 class="green"> $<%= (((producto.precio))/producto.cantidad_x_display).round(2) %> </h2></td>

          <td><%= link_to image_tag("lapiz.png", size: "50x50", :alt => "dolar feed"), edit_producto_path(producto) %></td>
          <td><%= link_to image_tag("papelera.png", size: "50x50", :alt => "dolar feed"), producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>




