<%= form_with(model: divisa, local: true) do |form| %>
  <% if divisa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(divisa.errors.count, "error") %> no permitieron que se guardara el registro:</h2>

      <ul>
        <% divisa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, class:"form-control" %>
  </div>

  <div>
    <button class="btn btn-secondary"><%= form.submit %></button>
  </div>
<% end %>
