<p id="notice"><%= notice %></p>

<div class="fondo center-xs text-center">
<h1>Divisas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @divisas.each do |divisa| %>
      <tr>
        <td><%= divisa.nombre %></td>
        <td><%= divisa.status %></td>
        <td><%= link_to 'Show', divisa %></td>
        <td><%= link_to 'Edit', edit_divisa_path(divisa) %></td>
        <td><%= link_to 'Destroy', divisa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button class="btn btn-secondary"><%= link_to 'New Divisa', new_divisa_path %></button>
</div>
