<p id="notice"><%= notice %></p>
<div>
	
</div>

<div>
<p>
  <strong>Nombre:</strong>
  <%= @divisa.nombre %>
</p>
</div>
<div>
<p>
  <strong>Status:</strong>
  <%= @divisa.status %>
</p>
</div>
<%= link_to 'Edit', edit_divisa_path(@divisa) %> |
<%= link_to 'Back', divisas_path %>
