<%= form_with(model: divisa_valor, local: true) do |form| %>
  <% if divisa_valor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(divisa_valor.errors.count, "error") %>no permitieron que se guardara el registro:</h2>

      <ul>
        <% divisa_valor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field white">
    <%= image_tag("signodolar2.png", size: "90x90", :alt => "dolar feed") %>
    <%= image_tag( "euro.png", size: "70x70", :alt => "euro feed") -%>
    <%= form.label :divisa_id %>
    <%= form.select("divisa_id", Divisa.all.collect {|p| [ p.nombre, p.id ] }, {include_blank: 'SELECCIONE'}) %>
  </div>

  <div class="field white">
    <%= form.label :fecha %>
    <%= form.date_select :fecha ,  class: "form-control"%>
  </div>

  <div class="field white">
    <%= form.label :valor , "Valor en Bs" %>
    <%= form.text_field :valor ,  class: "form-control"%>
  </div>

  <div class="actions white btn">
    <%= form.submit %>
  </div>
<% end %>
