<p id="notice"><%= notice %></p>
<div>
        

            <div class="col-md-5 p-lg-5 mx-auto my-5 radio">
              <h1 class="display-4 font-weight-normal">DOLAR DE HOY:</h1>
              <p class="navbar-text greend"><%= number_with_delimiter(@divisa=DivisaValor.last.valor) %> Bs</p>
              <br>
 


        
      <table>
        <thead>
          <tr>
            <th>Divisa</th>
            <th>Fecha</th>
            <th>Valor</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @divisa_valors.each do |divisa_valor| %>
            <tr>
              <td><%= divisa_valor.divisa_id %></td>
              <td><%= divisa_valor.fecha %></td>
              <td><%= divisa_valor.valor %></td>
              <td><%= link_to image_tag("ojo.png", size: "30x30", :alt => "dolar feed"), divisa_valor %></td>
              <td><%= link_to image_tag("lapiz.png", size: "30x30", :alt => "dolar feed"), edit_divisa_valor_path(divisa_valor) %></td>
              <td><%= link_to image_tag("papelera.png", size: "30x30", :alt => "dolar feed"), divisa_valor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      </div>
      <br>

</div>
<%= link_to 'New Divisa Valor', new_divisa_valor_path %>
