<div class="needs-validation radio" style="width: 50%; margin: 0px 25%">
      <% if DivisaValor.last%>
	<div class="row center-xs radio">
		<h1 class=" w-100">Ultima Actualizacion: 
			<%= number_with_delimiter(@divisa=DivisaValor.last.valor)%> Bs
		</h1>
	<div class="radio">
		
		</div>
		  <%end %>
		  <br>
		<div class="row center-xs sin-fondo">
			<h1>Nueva actualizacion de divisa:</h1>
		</div>

		<div class="row center-xs sin-fondo">
			<%= render 'form', divisa_valor: @divisa_valor %>
		</div>


	</div>
	<button class="btn white"><%= link_to 'Regresar', divisa_valors_path %></button>
			
</div>