<div  style="width: 50%; margin: 0px 25%">
	<div class=" center-xs radio" >
		<div>
			<p id="notice"><%= notice %></p>
		</div>	
		
		<div>
			<h5>
			  <strong>Divisa:</strong>
			<% id = @divisa_valor.divisa_id %>
			<%= Divisa.find_by(id:id).nombre %>
			</h5>
		</div>
		<div>
			<h5>
			  <strong>Fecha:</strong>
			  <%= @divisa_valor.fecha %>
			</h5>
		</div>
		<div>
			<h5>
			  <strong>Valor en Bs:</strong>
			  <%= @divisa_valor.valor %>
			</h5>
		</div>
	</div>

	<div class="sin-fondo">
		<button class="btn white"><%= link_to "Editar", edit_divisa_valor_path(@divisa_valor) %></button>
		<button class="btn white"><%= link_to 'Regresar', divisa_valors_path %></button>
	</div>	
</div>

