<div class="row center-xs fondo radio">
  <div class="box radio">

      <h1>Inicio de Sesión </h1>

      <div class= " needs-validation ">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email , "Correo electronico"%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"%>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" , class: "form-control"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recuerdame" %>
          </div>
        <% end %>

        <div class="actions btn white">
          <%= f.submit "Entrar"  %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

      </div>
</div>
</div>