<%= form_with(model: producto, local: true , multipart: true) do |form| %>
  <% if producto.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(producto.errors.count, "error") %> Prohibieron que este producto se guardara:</h2>

      <ul>
        <% producto.errors.full_messages.each do |message| %>
          <h5><%= message %></h5>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="row center-xs radio">
  <div class=" text-center radio" style="width: 700px">

      <div class="center-xs white form no-margin">
        <%= form.label :nombre %>
        <%= form.text_field :nombre , class: "form-control text-center"%>
      </div>

      <div class="center-xs white form no-margin">
        <%= form.label :categori_id, "Categoria del Producto" %>
        <%= form.select("categori_id", Categori.all.collect {|p| [p.categoria , p.id] }, {include_blank: 'Seleccione' }) %>
      </div>

      <div class="center-xs white form no-margin">
        <%= form.label :cantidad_x_display , "Unidades por display"%>
        <%= form.select :cantidad_x_display, (1..100) %>
      </div>

      <div class="center-xs white form no-margin">
        <%= form.label :precio , "PRECIO DE VENTA DE LA CAJA: (Bs / $)"%>
        <%= form.text_area  :precio , class: "form-control text-center"%>
      </div>

       <div class="center-xs white form no-margin">
        <%= form.file_field :image %>

      </div>

      <div class="sin-fondo">
        <button class=" actions white btn"><%= form.submit %></button>
      </div>
  </div>


</div>


<% end %>


