
<div class="fondo text-center">
	
<h1>Editando Producto</h1>

<%= render 'form', producto: @producto %>

</div>
<button type="" class="btn white"> <%= link_to 'Show', @producto %></button>
<button type="" class="btn white"> <%= link_to 'Back', productos_path %></button>
