    <body>
<html lang="en">

<div class="display card flex-row sm h-md-250 sin-fondo sin-borde">
   <div class="row center-xs sin-fondo" id="lista" style="width:70%">

                  <%  @productos.sort_by{ |m| m.nombre.downcase }.each do |producto| %>

                  <div class="card mb-4 h-md-250 no-margin radio sin-fondo sin-borde producto" id="<%=producto.id%>">
                     <div class=" card radio" style="width: 175px;">
                         <div class="yiellow card-body text-center radio more-big">
                           <h4 class="list-group-item letras">
                              <strong class="more-big nombre">
                                 <%= link_to producto.nombre.titleize, producto %>
                              </strong>
                           </h4>

                              <%if producto.image.attached? %>
                                 <%= image_tag(producto.image.variant(resize_to_limit: [100, 100]), size: "165x140") %>
                              <%else%>
                                 <%= image_tag("no.png", size: "165x140") %>
                              <%end%>

                           <ul class="list-group list-group-flush radio2">
                             <li class="list-group-item letras"> 
                               <strong>Caja: $<%= (producto.precio).round(2) %></strong>
                             </li>
                             <li class="list-group-item letras"> 
                               <strong>Unidad: $<%= (((producto.precio))/producto.cantidad_x_display).round(2) %></strong>
                             </li>
                             <li class="list-group-item letras">
                                <% precio = ((producto.precio.to_f * DivisaValor.last.valor)/producto.cantidad_x_display).round(-4)%>
                              <strong class="more-big"><span class="precio" precio="<%=precio%>">
                                <%= number_with_delimiter(precio)%></span>Bs</strong>
                             </li>
                             <li class="list-group-item letras">
                              <strong><%= link_to "Editar", edit_producto_path(producto) %></strong>
                              <strong><%= link_to "Borrar", producto, method: :delete, data: { confirm: 'Are you sure?' } %></strong>
                              <button class="btn btn-secondary add">+</button>
                             </li>
                           </ul>
                        </div>
                    </div>
                  </div>

                   <% end %>
   </div>
    <%= render "parciales/carrito" %>
   </div>
</div>

</body>
<script >

</script>

</html>


