
	<div style="width: 50%; margin: 0 27% ">
		<div class="row center-xs radio">
		<h1>Nuevo Producto</h1>
		</div>

		<%= render 'form', producto: @producto%>

		<button type="" class="btn white"> <%= link_to 'Back', productos_path %></button>
	</div>