<p id="notice"><%= notice %></p>
<div style="width: 90%;margin:0 auto;">
      <div class="largo row radio">
           <%if @producto.image.attached? %>
              <%= image_tag @producto.image, size: "250x350"%>
          <%else%>
             <%= image_tag("no.png", size: "250x350") %>
          <%end%>
          <div>
              
            <div class= "field greend">
              <strong>Nombre:</strong>
              <%= @producto.nombre %>
            </div>

            <div class= "field greend">
              <strong>Categoria:</strong>
              <% id = @producto.categori %>
            <%= Categori.find_by(id:id).categoria %>
            </div>

            <div class= "field greend">
              <strong>Cantidad Por Display:</strong>
              <%= @producto.cantidad_x_display %>
            </div>

            <div class= "field greend">
              <strong>Precio en Dolares de la caja:</strong>
              <%= @producto.precio.round(3) %> $
            </div>

            <div class= "field greend">
              <strong>Precio Bs:</strong>
              <%= number_with_delimiter(@producto.PrecioUnidadBs.round(-3))%> Bs
            </div>
            <div class= "field greend">
              <strong>Precio de la caja (Bs):</strong>
              <%= number_with_delimiter(((@producto.PrecioUnidadBs.to_f)*(@producto.cantidad_x_display.to_f)).round(-3)) %>
            </div>
          </div>
    </div>

</div>
<button class="btn white"><%= link_to 'Edit', edit_producto_path(@producto) %></button>
<button class="btn white"><%= link_to 'Back', productos_path %></button>
