#container{
 background:#fff;
 border-left:1px #ddd solid;
 border-right:1px #ddd solid;
 border-bottom:1px #ddd solid;
 width:600px;
 margin:0 auto;
}  

header h1 a{
 text-indent:-9999px;
 display:block;
 width:600px;
 height:98px;
 background:url(image-med.jpg) no-repeat 50% 0;
}             

#content{
 padding:0 15px;
}

footer{
 text-align:center;
 width:100%;
 display:block;
 font-size:11px;
}  

img {
 max-width:570px;
}

@media screen and (min-width:1200px){
 img {
 max-width:1000px;
 }

 #container{
 width:1100px;
 }  

 header h1 a{
 width:1100px;
 height:180px;
 background:url(image.jpg) no-repeat 0 0;
 }                          

}

@media screen and (max-width:320px){
 img {
 max-width:200px;
 }

 #container{
 width:auto;
 } 

 header h1 a{
 width:auto;
 height:52px;
 background:url(image-small.jpg) no-repeat 50% 0;
 }
}