nav{
	font-family: Aharoni;
	line-height: 0px;
	width: 100%;
	font-size: 20px;
	padding: 0px;

}

div div{
	background: black;

}

div h4.list-group-item{
	margin: 0px;
	padding: 5px;
}

li.list-group-item{
	padding: 0.4rem 0.4rem;
}

body{
	font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman',  serif;
	margin: 2%;
	background: url(maybe2.jpg);
	color: white;
	background-position: 50%;
}

button{
line-height: 5px;
color: white;
padding: 15px;
margin: 10px;
background: url(2.jpg);
}

ul{
	list-style: none;
}


td{  
  line-height: 20px;
}

th {
  line-height: 20px;
}



pre {
  background-color: black;
  padding: 10px;
  font-size: 11px; }

a:hover {
  color: white;
  background-color: #66b3ff}



div.field,
div.actions {
  margin-bottom: 0px; 
  color: inherit !important;
  text-decoration: none;}

.radio{
	border-radius: 1rem;
}

.radio2{
	border-radius: 0.25rem;
}

.btn{
	background-color: inherit;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	color: white;
}

.btn-default{
	padding-bottom: 15px;
}

.be-red{
background: black;
border-color: #000f;
border-radius: 5px;
font-style: oblique; 
}

.white{
	color: white;
	font-size: 1.5em;
}

.green{
	color: #66ff3c;
		font-style: strong;
}

.greend{
	font-size: 150%;
	color: #66ff3c;
}

.red{
	font-size: 130%;
	color: red;
}

.no-margin{
	margin-left :10px;
	margin-right :10px;
}

.large-padding{
	padding: 5px;
}


.field{
	margin-top: 1em;
	padding: 2px 2px
}

a,a:visited{
	color: inherit !important;
	text-decoration: none;
}
.form-control{
	outline: none;
	width: 100%;
	display: block;
	padding: 10 px 3px;
	font-size: 1em;
	border-color: white;
}l
.top-space{
	margin-top: 0.2em;
}


.text-left{
	text-align: left;

}

.more-big{
	font-size: 115%;
}

.separa{
	line-height: 100%;
}

.menos{
	padding: 3px;
	line-height: 8px;
	width: 160px;
}

.largo{
		height: 120%;
		padding: 2%;
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: #09c;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid #036;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.centrando{
  width: 100%;
}

.grande{
  font-size: 32px;
  line-height: 0px;
}


.yiellow{
	background-color: #4c96a2;
	color: black;
}

.letras{
	font-family: sans-serif;
	font-size: 12px;
	color:black;
}
.card{
	background-color: black;
}

.arial{
    font-family: arial;
}

.fondo{
	background-color: black;
	border-radius: 1rem;
	width: 50%;
	margin: 0 30%;
}

.sin-fondo{
	background: none;
}

.fijo{
	position : fixed !important;
    min-height: 120px;
    width: 252px;
    text-align: center;
    word-wrap: break-word;
    background-color: aquamarine;
}

.sin-borde{
	border: 0;
}

.card{
	border: 0px;
}