<!DOCTYPE html>
<html>
  <head>
    <title>Programa de Precios 2021</title>
    <link href ="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
        <%= render "parciales/navegacion" %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

            <%= yield %>

  </body>
</html>
